<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> farm. name </title>
</head>
<body>
    <h1><%= farm.name %></h1>
    <ul>
        <li>City: <%= farm.city %></li>
        <li>Email: <<%= farm.email %></a></li>
        <!--shows link of categories that goes back to homepage with ? string on URL-->
    </ul>
    <a href="/farms">Go back to 'All Farms!'</a>
    
    
</body>
</html>